@media (max-width:600px){
.svg-container {
  /*display: inline-block;
  position: relative;*/
  width: 80vw;
  height: 60vw; /* 4:3 ratio*/
  vertical-align: top;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-color: lightcyan;
  border: 2px solid tomato;
}
}

@media (min-width:600px){
.svg-container {
  width: 80vh;
  height: 60vh;
  vertical-align: top;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-color: bisque;
  border: 2px solid chocolate;
  }
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  left: 0;
}

#bt1{
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
}

body {
  margin: 0
}

