#dropdown-container{
  width:100%;
  position: absolute;
  bottom:0;
  text-align:center;
}
.dropup{
  display:inline-block;
}

.control-btn {
  z-index:1000;
  position:relative;
  bottom:0;
  left:0;
}

#controller {
  width:100%;
  position: fixed;
  bottom:0;
}
